In [1]:
##pip install pandas pyarrow psycopg2-binary

In [38]:
import pandas as pd

df = pd.read_parquet('data/organized/2024-02/yellow_tripdata_2024-02.parquet')

import numpy as np
df.replace({np.nan: None}, inplace=True)

print(df.head(10))

   VendorID tpep_pickup_datetime tpep_dropoff_datetime passenger_count  \
0         2  2024-02-01 00:04:45   2024-02-01 00:19:58             1.0
1         2  2024-02-01 00:56:31   2024-02-01 01:10:53             1.0
2         2  2024-02-01 00:07:50   2024-02-01 00:43:12             2.0
3         1  2024-02-01 00:01:49   2024-02-01 00:10:47             1.0
4         1  2024-02-01 00:37:35   2024-02-01 00:51:15             1.0
5         1  2024-02-01 00:55:17   2024-02-01 01:01:53             1.0
6         2  2024-02-01 00:04:53   2024-02-01 00:17:07             1.0
7         2  2024-02-01 00:35:00   2024-02-01 00:43:37             1.0
8         2  2024-02-01 00:00:15   2024-02-01 00:05:07             1.0
9         2  2024-02-01 00:25:55   2024-02-01 00:31:52             1.0

  trip_distance RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0          4.39        1.0                  N            68           236
1          7.71        1.0                  N            48           243
2         28.69        2.0                  N           132           261
3           1.1        1.0                  N           161           163
4           2.6        1.0                  N           246            79
5           0.8        1.0                  N            79             4
6          2.76        1.0                  N           249           163
7          2.51        1.0                  N           163           151
8          1.37        1.0                  N           246            48
9          1.59        1.0                  N           107           233

   payment_type fare_amount extra mta_tax tip_amount tolls_amount  \
0             1        20.5   1.0     0.5       1.28          0.0
1             1        31.0   1.0     0.5        9.0          0.0
2             2        70.0   0.0     0.5        0.0         6.94
3             1         9.3   3.5     0.5       2.85          0.0
4             2        15.6   3.5     0.5        0.0          0.0
5             1         7.9   3.5     0.5       2.55          0.0
6             1        14.2   1.0     0.5       3.84          0.0
7             1        12.8   1.0     0.5       3.56          0.0
8             2         7.9   1.0     0.5        0.0          0.0
9             1         9.3   1.0     0.5       2.86          0.0

  improvement_surcharge total_amount congestion_surcharge Airport_fee
0                   1.0        26.78                  2.5         0.0
1                   1.0         45.0                  2.5         0.0
2                   1.0        82.69                  2.5        1.75
3                   1.0        17.15                  2.5         0.0
4                   1.0         20.6                  2.5         0.0
5                   1.0        15.45                  2.5         0.0
6                   1.0        23.04                  2.5         0.0
7                   1.0        21.36                  2.5         0.0
8                   1.0         12.9                  2.5         0.0
9                   1.0        17.16                  2.5         0.0

In [ ]:
import psycopg2
import urllib.parse

dbname = 'nyc'
user = 'postgres'
password = 'password'
host = 'localhost'  # or your database server IP
port=5433

conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

In [40]:
cursor = conn.cursor()

# 3. Define the INSERT statement matching the EXACT order of your DataFrame columns
insert_statement = """
INSERT INTO green_tripdata_2024_01 (
    VendorID,
    lpep_pickup_datetime,
    lpep_dropoff_datetime,
    store_and_fwd_flag,
    RatecodeID,
    PULocationID,
    DOLocationID,
    passenger_count,
    trip_distance,
    fare_amount,
    extra,
    mta_tax,
    tip_amount,
    tolls_amount,
    ehail_fee,
    improvement_surcharge,
    total_amount,
    payment_type,
    trip_type,
    congestion_surcharge
)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# 4. Insert each row
#    Here we assume df columns are in EXACT order:
#    ['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime', 'store_and_fwd_flag', 
#     'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 
#     'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'ehail_fee', 
#     'improvement_surcharge', 'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge']
for row in df.itertuples(index=False, name=None):
    try:
        cursor.execute(insert_statement, row)
        print
    except Exception as e:
        print(f"Row failed: {row} - {e}")
        conn.rollback()  # Clears the aborted state
        # optionally skip or transform the bad row
        # continue  # then move on

# 5. Commit and close
conn.commit()
cursor.close()
conn.close()
print("Data inserted successfully!")

Data inserted successfully!